[package]
name = "spear"
version = "0.1.0"
edition = "2021"

[profile.release]
panic = 'abort'
strip = true
lto = true
codegen-units = 1
opt-level = 3

[dependencies]
colored = "*"
bytemuck = "1.18.0"